html,
body {
  height: 100%;
}
html {
  color: rgba(255, 255, 255, 0.8);
  background-image: linear-gradient(to bottom, #563d7c 0, #6f5499 100%);
}
#app {
  width: 100%;
  height: 100%;
  &::before {
    content: '';
    position: fixed;
    top: 50%;
    left: 50%;
    width: 250px;
    height: 250px;
    margin: -130px 0 0 -125px;
    border: 3px dashed rgba(255, 255, 255, 0.5);
    border-radius: 15px;
    transition: 0.25s ease-in-out;
  }
  .tip {
    margin-top: 130px;
    font-size: 18px;
    text-align: center;
    line-height: 40px;
    .select-files {
      text-decoration: underline;
    }
  }
}
